
<table>
    <tbody>
        <tr>
            <th>Product:</th>
            <td></td>
        </tr>
        <tr>
            <th>Price:</th>
            <td></td>
        </tr>
        <tr>
            <th>Discount:</th>
            <td></td>
        </tr>
        <tr>
            <th>Subtotal:</th>
            <td></td>
        </tr>
        <tr>
            <th>Tax:</th>
            <td></td>
        </tr>
        <tr>
            <th>Total:</th>
            <td></td>
        </tr>
    </tbody>
</table>